<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find fast_livo)/config/mid360.yaml" />

	<param name="r3live_lio/lidar_loop_bag_name" value="$(arg loop_bag_path)/loop_detect_2022-05-20-13-57-15.bag"/>
    <param name="r3live_lio/full_camera_trajectory" value="$(arg loop_bag_path)/camera_full_trajectory.txt"/>

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen">
		<rosparam file="$(find fast_livo)/config/camera_fisheye_mid360.yaml" />
	</node>
	
	<!--
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/fast_livo2.rviz" />
	</group>
	-->
	
	<node pkg="image_transport" type="republish" name="republish" args="compressed in:=/usb_cam_left/image_raw raw out:=/usb_cam_left/image_raw" output="screen" respawn="true" />
	
	<arg name="bag_path" default="$(arg bag_path)" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 1 -d 5 $(arg bag_path)"/>
launch-prefix="gdb -ex run --args"
launch-prefix="valgrind --leak-check=full"
</launch> 	
